<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><Company>Microsoft</Company><Pages>14</Pages><Words>5188</Words><Characters>5900</Characters><Lines>265</Lines><Paragraphs>130</Paragraphs><TotalTime>20</TotalTime><ScaleCrop>false</ScaleCrop><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>6124</CharactersWithSpaces><Application>WPS Office_12.1.0.21915_F1E327BC-269C-435d-A152-05C5408002CA</Application><DocSecurity>0</DocSecurity></Properties>